---
layout: home
title: Home
nav_section: portfolio
---

<article class="post featured">
	<header class="major">
		<h2>Level Designer / Programmer</h2>
		<p>
			Insert description of me here.
		</p>
	</header>
</article>

<section class="posts">
	{% assign sorted_projects = site.projects | sort: "order" | reverse %}
	{% for project in sorted_projects %}
	<article class="portfolio-card">
		<header>
			<h2><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
		</header>

		{% if project.card_image %}
			<a href="{{ project.url | relative_url }}" class="image fit">
				<img src="{{ project.card_image | relative_url }}" alt="{{ project.title }}" />
			</a>
		{% endif %}

		<p>{{ project.excerpt_text }}</p>
	</article>
	{% endfor %}
</section>