---
layout: default
title: Media
permalink: /media/
nav_section: media

media_items:
  - title: Noclip Documentary
    youtube_id: G_TcAxAKCAI
    description:  Crowbar Collective talk about their 16 year journey rebuilding the original Half-Life.

  - title: Game Design Library
    youtube_id: ESx-s-fL6Lc
    description: An interview with the game developers behind Black Mesa, the remake of Half-Life, on their next game Rogue Point.
---

<article class="post">
	<header class="major">
		<h1>Media</h1>
	</header>

	<p>Across my time at Crowbar Collective, I've had the fortune to be able to feature in some pretty cool media.</p>

	{% if page.media_items %}
		<section class="posts media-posts">
			{% for item in page.media_items %}
				<article>
					<header>
						<h2>{{ item.title }}</h2>
					</header>
					{% if item.description %}
						<p>{{ item.description }}</p>
					{% endif %}
					<div class="video-embed">
						<iframe
							src="https://www.youtube.com/embed/{{ item.youtube_id }}"
							title="{{ item.title }}"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
						</iframe>
					</div>
				</article>
			{% endfor %}
		</section>
	{% endif %}
</article>