<nav id="nav" class="site-nav">
	<ul class="links">
		<li{% if page.title == 'Home' %} class="active"{% endif %}>
			<a href="{{ '/' | relative_url }}">All Works</a>
		</li>
		<li{% if page.portfolio_group == 'rogue-point' %} class="active"{% endif %}>
			<a href="{{ '/portfolio/rogue-point' | relative_url }}">Rogue Point</a>
		</li>
		<li{% if page.portfolio_group == 'black-mesa' %} class="active"{% endif %}>
			<a href="{{ '/portfolio/black-mesa' | relative_url }}">Black Mesa</a>
		</li>
		<li{% if page.nav_section == 'media' %} class="active"{% endif %}>
			<a href="{{ '/media/' | relative_url }}">Other Media</a>
		</li>
		<li{% if page.nav_section == 'contact' %} class="active"{% endif %}>
			<a href="{{ '/contact/' | relative_url }}">Contact</a>
		</li>
	</ul>

	<ul class="icons">
		<li><a href="#" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
		<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
	</ul>
</nav>