<section class="posts">
	{% if include.grid_title %}
	<header class="major">
		<h1>{{ include.grid_title }}</h1>
	</header>
	{% endif %}
	
	{% assign sorted_projects = include.projects | sort: "order" | reverse %}
	{% for project in sorted_projects %}
	<article class="portfolio-card">
		<header>
			<h2><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
		</header>
				
		<ul class ="facts"><li>{{ project.discipline }}</li></ul>

		{% if project.card_image %}
			<a href="{{ project.url | relative_url }}" class="image fit">
				<img src="{{ project.card_image | relative_url }}" alt="{{ project.title }}" />
			</a>
		{% endif %}
		
		<ul class="actions special">
		<li><a href="{{ project.url | relative_url }}" class="button">Read More</a></li>
		</ul>

		<p>{{ project.excerpt_text }}</p>
	</article>
	{% endfor %}
</section>