<div class="table-wrapper">
	<table>
	<thead>
		<tr>
		<th>Timestamp</th>
		<th>Random Seed</th>
		<th>Player Count</th>
		<th>Soldier</th>
		<th>Lookout</th>
		<th>Berserker</th>
		<th>Heavy</th>
		<th>Sniper</th>
		<th>Squad Leaders</th>
		<th>Total Merx</th>
		<th>Phone</th>
		<th>Intel</th>
		<th>Hostage</th>
		<th>HVT</th>
		<th>Bomb</th>
		<th>VIP</th>
		<th>Interception</th>
		<th>Laptop</th>
		<th>Hunt</th>
		<th>Total Objectives</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>2025.09.08-18.55.06</td>
		<td>48115480</td>
		<td>1</td>
		<td>34</td>
		<td>8</td>
		<td>5</td>
		<td>4</td>
		<td>0</td>
		<td>3</td>
		<td>54</td>
		<td>6</td>
		<td>5</td>
		<td>1</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>2</td>
		<td>0</td>
		<td>3</td>
		</tr>
		<tr>
		<td>2025.09.08-20.52.37</td>
		<td>21060822</td>
		<td>1</td>
		<td>24</td>
		<td>6</td>
		<td>6</td>
		<td>3</td>
		<td>0</td>
		<td>3</td>
		<td>42</td>
		<td>6</td>
		<td>5</td>
		<td>0</td>
		<td>0</td>
		<td>1</td>
		<td>0</td>
		<td>0</td>
		<td>2</td>
		<td>0</td>
		<td>3</td>
		</tr>
	</tbody>
	</table>
</div>